@model ViewModels.BaseViewModel
<footer class="dark-footer" style="background-image: url(/Images/footer-bg.jpg);">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
	                <div class="footer-item">
		                <div class="row">
			                <div class="col-md-3 ">
				                <div class="certificate">
					                @*<a target="_blank" href="https://trustseal.enamad.ir/?id=61732&amp;Code=9TynPNppEZekDaI3y6Gl"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=61732&amp;Code=9TynPNppEZekDaI3y6Gl" alt="" style="cursor: pointer" id="9TynPNppEZekDaI3y6Gl"></a>*@
					                <a target="_blank" href="https://trustseal.enamad.ir/?id=162087&amp;Code=nAlGVPrHO0GdchoAehtd"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=162087&amp;Code=nAlGVPrHO0GdchoAehtd" alt="" style="cursor:pointer" id="nAlGVPrHO0GdchoAehtd"></a>
				                </div>

			                </div>
			                <div class="col-md-3 ">
				                <div class="certificate">
					                @*<img id='oeukrgvjrgvjesgtnbqe' style='cursor: pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=83302&p=mcsixlaoxlaoobpduiwk", "Popup", "toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=83302&p=aqgwqftiqftilymaodrf' />*@
					                <img id = 'jxlzjzpeesgtapfusizpjzpe' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=170597&p=rfthjyoeobpddshwpfvljyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=170597&p=nbpdyndtlymaujynbsiyyndt' />

				                
				                </div>
			                </div>
			                @*<div class="col-md-3 ">
				                <div class="certificate">
					                <img src="~/Images/Cer/hk.png" />
				                </div>
			                </div>
											
			                <div class="col-md-3 ">
				                <div class="certificate">
					                <img src="~/Images/Cer/hoghoghe-mosafer.png" />
				            
				                </div>

			                </div>*@
		                </div>
										
										
		                <div class="row">
			              
			                <div class="col-md-4 ">
				                <div class="certificate">
					                <a href="http://www.aira.ir/" target="_blank">
					                <img src="~/Images/irIcon/aira.0d558e5.png" style="height: 120px;"/>
					                </a>
				                </div>
			                </div>		
			                <div class="col-md-4 ">
				                <div class="certificate">
					                <a href="https://www.cao.ir/paxrights" target="_blank">
					                <img src="~/Images/irIcon/passenger-rights.9eea7f0.svg" style="height: 120px;"/>
					                </a>
														</div>
			                </div>  <div class="col-md-4 ">
				                <div class="certificate">
					                <a href="https://www.cao.ir/home" target="_blank">
					                <img src="~/Images/irIcon/state-airline.317506d.svg" style="height: 120px;"/>
					                </a>
														</div>
			                </div>  
		                </div>

		                @*<div class="row">
			              
			                <div class="col-md-3 ">
				                <div class="certificate">
													<img src="~/Images/Cer/miras.png" />
					              
				                </div>
			                </div>
			                <div class="col-md-3 ">
				                <div class="certificate">
					                <img src="~/Images/Cer/aira.png" />
				                </div>
			                </div>  <div class="col-md-3 ">
				                <div class="certificate">
					                <img src="~/Images/Cer/Amadeus.png" />
				                </div>
			                </div>  <div class="col-md-3 ">
				                <div class="certificate">
					                <img src="~/Images/Cer/anjoman.Png" />
				                </div>
			                </div>
		                </div>*@
		            
	                </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-item">
                        <ul class="mb-20">
                            <li> <a href="tel:02157952"> <span class="fa fa-phone"></span> 57952 021</a></li>
                            <li class="mt-10"><a href="mailto:">info@bektashtravel.com</a></li>
                            <li class="mt-10">تهران، سعادت آباد، بلوار دریا، پلاک 52، طبقه سوم</li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <ul class="footer-social mt-20">
                            <li><a target="_blank" href="https://www.instagram.com/bektashtravel/"><img src="/Images/instagram-icon.png" width="25" height="25" alt="اینستاگرام بکتاش" /></a></li>
                            <li><a target="_blank" href="https://t.me/bektashtravel"><img src="/Images/telegram-icon.png" width="25" height="25" alt="تلگرام بکتاش" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-item">
                        <ul class="footer-menu">
                            <li><a href="/">صفحه اصلی</a></li>
                            <li><a href="/about">درباره ما</a></li>
                            <li><a href="/visa">ویزا</a></li>
                            <li><a href="/contact">تماس با ما</a></li>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
                            {
                                <li><a href="/account/login">ورود</a></li>
                            }
                            else
                            {
                                <li><a href="/TourCategories/Index">پنل مدیریت</a></li>
                                <li><a href="/account/LogOff">خروج</a></li>
                            }
                        </ul>
                        <p class="mt-30">@Model.Footer.Body</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>تمامی حقوق این وب سایت متعلق به آژانس مسافرتی بکتاش سیر گشت می باشد. طراحی وب سایت و سئو توسط
                      <a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88%D8%A8-%D8%B3%D8%A7%DB%8C%D8%AA" target="_blank">زاوش</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
  
 