@model ViewModels.CallBackViewMode
@{
		ViewBag.Title = "سبد خرید";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}




<div class="page-head white-content">
	<div class="height50vh parallax-container" style="background-image:  url('/Images/header1.jpg');">
		<div class="page-head-wrap">
			<div class="display-r">
				<div class="display-a">
					<div class="container">
						<div class="row justify-content-center animate" data-animation="fadeInUp" data-timeout="500">
							<div class="col-md-12">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>

										<li class="breadcrumb-item">نتیجه پرداخت</li>
									</ol>
								</nav>
								<h1 class="big-title mt-60 float-right">نتیجه پرداخت</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="basket-page">
	<div class="container">
	 
		<div class="row">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				@if (Model.IsSuccess)
				{
					<p class="alert alert-success">با تشکر از خرید شما. کارشناسان ما جهت پیگیری سفارش در اسرع وقت با شما تماس خواهند گرفت.</p>
				}
				<table class="table table-bordered">
					<tr>
						<td>نتیجه پرداخت</td>
						<td>@Model.Message</td>
					</tr>
					<tr>
						<td>کد رهگیری</td>
						<td>@Model.RefId</td>
					</tr>
				</table>

				<div style="display: none">@ViewBag.res</div>
			</div>
		</div>
	</div>
</div>
